

{% extends 'myapp/index.html' %}
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Profile <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                     <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'view-member' %}"></i> Back</a></li>
                                                        
                                                                                        <li class="breadcrumb-item active"> Member Profile</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{mid.pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong>{{mid.name}}</strong></h4>
                    </div>
                   
                    <p class="social-icon m-t-5 m-b-0">
                        
                        <a title="Facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                        <a title="Instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram "></i></a>
                    </p>
                </div>                    
            </div>                               
           
                           
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">Member Profile</a></li>
                                            
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        
                        <ul class="list-unstyled">
                            <li>
                                <p><strong>Full Name:</strong> {{mid.name}}</p>
                            </li>
                            <li>
                                <p><strong>Email Address:</strong> {{mid.email}}</p>
                            </li>
                            <li>
                                <p><strong>Contact Number:</strong> {{mid.contact_no}}</p>
                            </li>
                            <li>
                                <p><strong>House Number:</strong> {{mid.house_no}}</p>
                            </li>
                            <li>
                                <p><strong>Address:</strong> {{mid.full_address}}</p>
                            </li>
                            <li>
                                <p><strong>Job Profession:</strong> {{mid.job_profession}}</p>
                            </li>
                            <li>
                                <p><strong>Job Address:</strong> {{mid.job_address}}</p>
                            </li>
                            <li>
                                <p><strong>Vehicle Type:</strong> {{mid.vehicle_type}}</p>
                            </li>
                            <li>
                                <p><strong>Vehicle Number:</strong> {{mid.vehicle_details}}</p>
                            </li>
                            
                           
                        </ul>
                        
                        
                    </div>
                    
                

                    </div>                        
                </div>
            </div>
                       
        </div>
    </div>

            </div>
</section>
{% endblock %}
 